.details-body{
    width: 30%;
    margin-top: 10%;
    margin-left: 10%;
    background-color: rgb(10, 145, 73);
    border-radius: 25px;
    opacity: 0.8;
}

.button{
    margin-bottom: 1%;
}

.contents{
    margin-top: 10%;
    margin-left: 15%;
    width: 45%;
    padding-top: 2%;
}
.container{
    position: relative;
    left: -15%;
    width: 30%;
}
.buttons{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%
}
.header-title{
    /* margin-top: 4%; */
    margin-left: 5%;
    color:rgb(229, 229, 237);
    padding-top: 5%;
    /* margin-right: 20%; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}